<div class="header-info">
  <span class="header-info-name"><a href="/">{{ site.title }}</a></span>
  <span class="header-info-desc">{% t header_description %}</span>

</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    <li class="header-main-nav-item"><a href="{% tl index %}">{% t pages.index %}</a>
    </li>
    <li class="header-main-nav-item"><a href="{% tl categories %}">{% t pages.categories %}</a>
    </li>
    <li class="header-main-nav-item"><a href="{% tl about %}">{% t pages.about %}</a>
    </li>
  </ul>
</nav>
