@charset "utf-8";

.header-info {
  display: block;
  position: relative;
  margin: 10px;
}

.header-info-name {
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #000;
}

.header-info-desc {
  font-size: .9em;
}

.header-main-nav {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header-nav {
  margin-left: 10px;
}

.header-main-nav-item {
  display: block;
  position: relative;
  float: left;
  padding:0 5px;
}

.seperator {
  display: inline-block;
  height: 20px;
  border-left: 1px solid #a1a1a1;
  margin-bottom: -5px;
}

.seperator-clear {
  display: inline-block;
  height: 20px;
  border-left: 0px solid #a1a1a1;
  margin-right: 10px;
  margin-bottom: -5px;
}

.language-switch {
  margin-right: 10px;
display: block;
float: right;
}
