@charset "utf-8";

.post-title {
  text-align: center;
}

.post-author {
  display: none;
}

.post-content p {
  text-align: justify;
  line-height: 20px;
}

.post-content img {
  border: 1px solid #64646483;
  padding: 4pt;
  display: block;
  margin: 10px auto;
}

.post-info {
  border-top: solid 1px #aaa;
  line-height: 24px;
  margin-top: 15px;
}

.post-category, .post-tag {
  margin: 0 5px;
}

.container-post ol li {
  padding: 5px 0;
  display: list-item;
  list-style-position: inside;
}

.container-post ul {
  padding-left: 2em;
}
