---
layout: default
title: Categories
permalink: /categories
---

<article class="page-container">
  <div class="categories-title">
    <h1>{{ site.data.lang[site.language].categories_title }}</h1>
  </div>
  <ul class="categories-list">
    {% assign sorted_categs = site.categories | sort:"" %}
    {% for category in sorted_categs %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="category-name">{{category_name}}</div>
    <ul class="category-list">
      {% for post in site.posts %}
      {% if post.categories contains category_name %}
      <div class="category-list-item">
      <span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
      <span class="category-list-item-date float-right">
        {{ post.date | date: "%b %e, %Y" }}
      </span>
    </div>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</article>