---
layout: default
title: tags
namespace: tags
permalink: /etiketler
permalink_en: /tags
---

<article class="page-container">
  <div class="categories-title">
    <h1>{% t pages.tags %}</h1>
  </div>
  <ul class="categories-list">
    {% assign sorted_tags = site.tags | sort:"" %}
    {% for tag in sorted_tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div class="category-name">{{tag_name}}</div>
    <ul class="category-list">
      {% for post in site.posts %}
      {% if post.tags contains tag_name %}
      <div class="category-list-item">
      <span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
      <span class="category-list-item-date float-right">
        {% if site.lang == "tr" %}
        {{ post.date | date: "%d.%m.%Y" }}
        {% elsif site.lang == "en" %}
        {{ post.date | date: "%Y-%m-%d" }}
        {% endif %}
      </span>
    </div>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</article>
